/* HEADER */
  
.header__marca {
    width: 100px;
    height: 110px;
  }
  
.header__logo {
    height: 100%;
    width: 100%;
  }
   
.navbar{
    font-weight: bold;
  }
  
.dropdown-item{
    font-weight: bold;
  }

.dropdown-item:hover{
    color: teal;
  }

.header__burger{
    display: none;
  }
  
.nav_item-close{
    display: none;
  }