/* 
como creo una variableen SASS::

sintaxis de como escribir una variable

$mivariable1: valorReutilizable;
*/



/*  
    $color-principal: orange;
    $font_family: arial;
    etc...
*/





/* se utiliza para variables que se repiten en muchos lados de nuestra pagina, como por ejemplo colores de las secciones, fuentes, bordes */


/*esto lo cambio en las hojas de scss (por ejemplo _pagina-galeria) de la siguieinte manera*/




/* 
.header{
    color: $color-principal;
}

.footer{
    color: $color-principal;
}
*/
